<%- include('../partials/start') %>

<form method="POST" action="/offers/<%= id %>?_method=PUT">
  <div class="offer-form">
    <p class="input-label">Title:</p>
    <input
      class="input-style"
      type="text"
      name="title"
      value="<%= offer.title %>"
      required
    />
    <p class="input-label">Category:</p>
    <select class="input-style" id="category" name="category">
      <option value="CSS">CSS</option>
      <option value="SQL">SQL</option>
      <option value="HTML">HTML</option>
      <option value="Javascript">Javascript</option>
      <option value="Express">Express</option>
    </select>
    <p class="input-label">Description:</p>
    <textarea class="input-style" name="description" required>
<%= offer.description %></textarea
    >
    <p class="input-label">Time offered (in hours):</p>
    <input
      class="input-style"
      type="number"
      name="time_offered"
      min="1"
      value="<%= offer.time_offered %>"
      required
    />
  </div>
  <input class="button-style" type="submit" value="Update your offer" />
</form>

<%- include('../partials/end') %>
