<%- include('../partials/start') %>

<div class="offer-contain">
  <div class="offer-top">
    <h2><%= offer.title %></h2>
    <p><%= offer.category %></p>
  </div>
  <div class="offer-description">
    <p class="offer-user"><b><%= offer.username %></b></p>
    <p><%= offer.description %></p>
  </div>
  <div class="offer-bottom">
    <p class="time-offered">
      <b>Time Offered: </b><%= offer.time_offered %> hours
    </p>
  </div>
</div>
<div class="offer-btns">
  <a
    href="mailto: <%= offer.email %>?subject=Accepting your offer&body=Hi <%= offer.username %>, I'd like to accept your offer of <%= offer.title %>!"
    class="button-style"
    >Accept Offer</a
  >
</div>

<%- include('../partials/end') %>
