<%- include('../partials/start') %>
<div class="profile-contain">
  <h1>Welcome <%= user.username %>!</h1>
  <div class="dashboard">
    <div class="dashboard-top">
      <div class="offer-count">
        <h3>Your offers:</h3>
        <h1><%= offers.length %></h1>
      </div>
    </div>
    <div class="profile-btns">
      <a class="add-btn" href="/offers/new">Add An Offer</a>
      <form action="/auth/logout" method="GET">
        <input type="submit" class="button-style" value="Sign Out" />
      </form>
      <form action="/user/<%= user.id %>?_method=DELETE" method="POST">
        <input
          type="submit"
          class="button-style"
          id="delete"
          value="Delete Account"
        />
      </form>
    </div>
  </div>
</div>
<div class="offers-flex">
  <% offers.forEach(offer => { %>
  <div class="offer">
    <div class="offer-top">
      <h2><%= offer.title %></h2>
      <p><%= offer.category %></p>
    </div>
    <div class="offer-description">
      <p class="offer-user"><b><%= offer.username %></b></p>
      <p><%= offer.description %></p>
    </div>
    <div class="offer-bottom">
      <p class="time-offered">
        <b>Time Offered: </b><%= offer.time_offered %> hours
      </p>
      <a href="/offers/<%= offer.id %>/edit" class="button-style">Edit Offer</a>
      <form action="/offers/<%= offer.id %>?_method=DELETE" method="POST">
        <input type="submit" class="button-style" value="Delete Offer" />
      </form>
    </div>
  </div>
  <% }) %>
</div>

<%- include('../partials/end') %>
