<%- include('../partials/start') %>

<h1>Welcome <%= user.username %>, here are your current offerings!</h1>
<div class="offers-flex">
  <% offers.forEach(offer => { %>
  <div class="offer">
    <div class="offer-top">
      <h2><%= offer.title %></h2>
      <p><%= offer.category %></p>
    </div>
    <div class="offer-description">
      <p class="offer-user"><b><%= offer.username %></b></p>
      <p><%= offer.description %></p>
    </div>
    <div class="offer-bottom">
      <p class="time-offered">
        <b>Time Offered: </b><%= offer.time_offered %> hours
      </p>
    </div>
  </div>
  <% }) %>
</div>

<%- include('../partials/end') %>
