<%- include('../partials/start') %>
<div class="profile-contain">
  <h1>Welcome <%= user.username %>!</h1>
  <% if (offers.length > 1) { %>
  <h2>
    You currently have <%= offers.length %> items you're offering to help others
    with.
  </h2>
  <p>Doesn't it feel nice to help others? 😉</p>
  <% } else if (offers.length == 1) { %>
  <h2>
    You currently have <%= offers.length %> item you're offering to help others
    with.
  </h2>
  <p>Doesn't it feel nice to help others? 😉</p>
  <% } else { %>
  <h2>
    You're not currently offering help with any items, add an offer to help
    someone out!
  </h2>
  <div class="profile-add-contain">
    <a class="add-btn" href="/offers/new">Add An Offer</a>
  </div>
  <% } %>
</div>
<div class="offers-flex">
  <% offers.forEach(offer => { %>
  <div class="offer">
    <div class="offer-top">
      <h2><%= offer.title %></h2>
      <p><%= offer.category %></p>
    </div>
    <div class="offer-description">
      <p class="offer-user"><b><%= offer.username %></b></p>
      <p><%= offer.description %></p>
    </div>
    <div class="offer-bottom">
      <p class="time-offered">
        <b>Time Offered: </b><%= offer.time_offered %> hours
      </p>
      <form action="/offers/<%= offer.id %>?_method=DELETE" method="POST">
        <input type="submit" class="button-style" value="Delete Offer" />
      </form>
    </div>
  </div>
  <% }) %>
</div>

<%- include('../partials/end') %>
